@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

.body-style {
	background-color: #2f3542 !important;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

.header-title {
	margin: 10px 10px;
	color: #f1f2f6;
}

.header-title p {
	font-size: 3em;
	margin: 10px;
}

.header-title h5 {
	margin-top: 10px;
	margin-bottom: 15px;
}

.canvas {
	display: flex;
	flex-wrap: wrap;
	height: 768px;
}

.canvas-layers {
	margin: 10px;
	width: calc(20% - 20px);
	font-size: 1em;
}

.canvas-area {
	margin: 10px;
	width: calc(80% - 20px);
}

@media screen and (max-width: 769px) {
	.canvas-layers {
		width: calc(100% - 20px);
	}

	.canvas-area {
		width: calc(100% - 20px);
	}
}

.canvas-loona {
	width: 100%;
	height: auto;
	border: 2px solid #fff;
	background-color: #fff;
}

.layer {
	margin: 10px;
}
